---
import { SITE_TITLE, SITE_DESCRIPTION, GREETING, INTRODUCTION, CVITEMS, CONTACT_AND_CV } from '../data/consts';
import profilePicture from '../assets/profile_picture.jpg'
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import Socials from '../components/Socials.astro';
import uhhLogo from '../assets/uhh_logo.svg'
import knuLogo from '../assets/knu_logo.svg'
import CvSection from '../components/CvSection.astro';
import CvListEntry from '../components/CvListEntry.astro';
import CvLogoListEntry from '../components/CvLogoListEntry.astro';
import CvTimelineEntry from '../components/CvTimelineEntry.astro';
---
<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<section class="max-w-3xl mx-auto px-4 py-8 flex flex-col items-center text-center min-h-[90vh]">

	<!-- Profile Image -->
	<img
		src={profilePicture.src}
		alt="Profile picture of Lasse Jantsch"
		class="w-60 h-60 rounded-full mb-6 shadow-lg object-cover"
	/>

	<!-- Heading -->
	<h1 class="text-4xl text-primary dark:text-primary_dark font-bold mb-4">{GREETING}</h1>

	<!-- Short Intro -->
	<p class="text-lg mb-2 max-w-xl text-secondary dark:text-secondary_dark">
		{INTRODUCTION}
	</p>

	<p class="text-base max-w-xl text-secondary dark:text-secondary_dark">
		{CONTACT_AND_CV}
	</p>

	<div class="mt-2 mb-10">
		<Socials />
	</div>

	<!-- CV Section -->
	<div class="w-full text-left space-y-8">

		{CVITEMS.map((item: { title: string, type: string, data: any }) => (
		<CvSection title={item.title}>
			{item.type === 'list' ? (
				<CvListEntry data={item.data} />
			) : item.type === 'logo-list' ? (
				<CvLogoListEntry data={item.data} />
			) : item.type === 'timeline' ? (
				<CvTimelineEntry data={item.data} />
			) : (
			<div></div>
			)}
		</CvSection>
		))}
	</div>
	<Footer />
	</section>
</BaseLayout>
